# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
release/
*.spec

# Caches
.translation_cache.json
.analysis_cache.json

# Local Configuration (IMPORTANT: never commit config.json)
config.json
*.tmp
venv/



#cache
.translation_cache.json
.analysis_cache.json
